In [1]:
int(False)

0

In [2]:
int(12.3)

12

In [3]:
type(int(12.3))

int

In [4]:
int(3.99)

3

In [5]:
int(3.99)

3

In [6]:
1//2

0

In [7]:
x=1
x=x+1

In [8]:
x

2

In [9]:
x=1/1

In [10]:
type(x)

float

In [11]:
name = 'Lizz'
print(name[0:2])

Li

In [12]:
'1'+'2'

'12'

In [13]:
var = '01234567'
print(var[::2])

0246

In [14]:
Name="Michael Jackson"
Name.find('el')

5

In [15]:
 str(1)+str(1)

'11'

In [16]:
"123".replace("12", "ab")

'ab3'

In [17]:
len(("disco",10))

2

In [18]:
len?

In [19]:
A=[2,3,4]
b=A
b

[2, 3, 4]

In [20]:
c=A[:]

In [22]:
append?

Object `append` not found.

In [23]:
L=[]
L.append(['a','b'])
L

[['a', 'b']]

In [24]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [25]:
A=((11,12),[21,22])
A[0][1]

12

In [27]:
A=((11,12),[21,22])
A[1]

[21, 22]

In [28]:
A=["hard rock",10,1.2]
del(A[0])
A

[10, 1.2]

In [29]:
a=[]
set(A)

{1.2, 10}

In [30]:
z=[]
set(z)

set()

In [32]:
'A' in {'A','B'}

True

In [33]:
A=[]
a=set(A)

In [34]:
a

set()

In [35]:
V={'1','2'}
V.add('3')
V

{'1', '2', '3'}

In [36]:
a={ "The Bodyguard":"1992", "Saturday Night Fever":"1977"}
a.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [37]:
x="A"

if(x=="A"):

  print('Hello')

else:

  print('Hi')

print('Mike')

Hello
Mike

In [38]:
x="Go"

if(x=="Go"):

  print('Go ')

else:

  print('Stop')

print('Mike')

Go
Mike

In [39]:
x=1
x>5

False

In [40]:
A=['1','2','3']

for a in A:

  print(2*a)

11
22
33

In [41]:
x=5
while(x!=2):
  print(x)
  x=x-1

5
4
3

In [42]:
for i,x in enumerate(['A','B','C']):
    print(i+1,x)

1 A
2 B
3 C

In [43]:
for i in range(1,5):
    if (i!=2):
        print(i)

1
3
4

In [44]:
def step(x):
    if x>0:
        y=1
    else:
        y=0
    return y

In [46]:
step(-2)

0

In [47]:
def add(x):
    return(x+x)
    
add(1)

2

In [48]:
a=1

def do(x):
    a=100
    return(x+a)

print(do(1))

101

In [49]:
with open("Example1.txt","r") as File1:    
     
     file_stuff=File1.readline () 
     
     print(file_stuff)

In [52]:
with open("Example3.txt","w") as file1:
  file1.write("This is line C\n")