In [1]:
x=3
y=3
z=x is y
print(z)

True

In [2]:
x=2
y=x
x=3
print(x)
print(y)

3
2

In [3]:
def silly():
    pass
x=silly()
y=silly()
z=x is y
print(z)

True

In [4]:
print(x==y)

True

In [5]:
while False:
    print("helloo")
print("this got printed")

this got printed

In [12]:
for c in "hello":
    if c=="l":
        continue
    print(c)

h
e
o

In [14]:
a=6
if a < 10:
    pass
else:
    print("welcome")

In [15]:
import os.path
if os.path.isfile("test.txt"):
    print("file xizst")
else:
    print("no")

no

In [16]:
import os.path
os.remove("test.txt")

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'test.txt'

In [18]:
def an():
    "gyubj"
    pass

In [19]:
"py" "thon"

'python'

In [3]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
        else:
        # loop fell through without finding a factor
            print(n, 'is a prime number')
            break
#2 is a prime number
#3 is a prime number
#4 equals 2 * 2
#5 is a prime number
#6 equals 2 * 3
#7 is a prime number
#8 equals 2 * 4
#9 equals 3 * 3

3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 is a prime number

In [7]:
for n in range(2, 10):
    for x in range(2, n):
        print(n,x)

3 2
4 2
4 3
5 2
5 3
5 4
6 2
6 3
6 4
6 5
7 2
7 3
7 4
7 5
7 6
8 2
8 3
8 4
8 5
8 6
8 7
9 2
9 3
9 4
9 5
9 6
9 7
9 8

In [10]:
def concat(*args, sep="/"):
     return sep.join(args)

concat("earth", "mars", "venus")
#'earth/mars/venus'

'earth/mars/venus'

In [13]:
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(42)
f(0)
#42
#f(1)
#43

42

In [17]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs
#[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [16]:
import datetime
today_is=datetime.date.today()
print(today_is)

2020-03-05

In [17]:
print(today_is.year)

2020

In [18]:
print(today_is.month)

3

In [21]:
print(today_is.day)
print(today_is.strftime('%d %m,%y'))

5
05 03,20

In [29]:
print(today_is.strftime('today is %Y , %B and the day is %d'))

today is 2020 , March and the day is 05

In [30]:
print(today_is.strftime('today is %a , %B and the day is %d'))

today is Thu , March and the day is 05

In [31]:
print(today_is.strftime('today is %A , %B and the day is %d'))

today is Thursday , March and the day is 05

In [8]:
import datetime 
birthday = input ("What is your birthday? ") 

x=datetime.datetime.strptime(birthday,"%m/%d/%Y").date() 
#why did we list datetime twice?  
#because we are calling the strptime function 
#which is part of the datetime class 
#which is in the datetime module 
print ("Your birth month is " + x.strftime('%B'))

What is your birthday? 7/31/1998
Your birth month is July

In [13]:
from time import strptime

date = input("Please enter a date in DD/MM/YYYY format: ")
try:
    parsed = strptime(date, "%d/%m/%Y")
except ValueError as e:
    print("Please retry:{0}").format(e)

Please enter a date in DD/MM/YYYY format: 31/07/1998

In [27]:
nextBirthday = datetime.datetime.strptime('12/20/2014','%m/%d/%Y').date()
currentDate = datetime.date.today()
difference = nextBirthday - currentDate
print(difference.days)

SyntaxError: invalid character in identifier (<ipython-input-27-55bf31769938>, line 1)

In [32]:
import datetime
current_Date = datetime.date.today() 
#timedelta allows you to specify the time 
#to add or subtract from a date 
print (current_Date + datetime.timedelta(days=15)) 
print (current_Date + datetime.timedelta(hours=15))

2020-03-20
2020-03-05

In [34]:
from datetime import datetime, timedelta

d = datetime.today() - timedelta(days=15)
print(d)

2020-02-19 18:07:45.500523

In [38]:
from datetime import datetime, timedelta
d = datetime.today() - timedelta(5)
print(d)

2020-02-29 18:10:39.818120

In [42]:
import datetime 
currentTime = datetime.datetime.now() 
print (currentTime) 
print (currentTime.hour) 
print (currentTime.minute)
print (currentTime.second)

2020-03-05 18:14:46.310743
18
14
46

In [43]:
import pytz # pip install pytz

local_tz = pytz.timezone('America/Los_Angeles')
now = local_tz.localize(datetime(2014, 11, 2, 10), is_dst=None)
# 2014-11-02 10:00:00 PST-0800

TypeError: 'module' object is not callable

In [7]:
import datetime 
currentTime = datetime.datetime.now() 
print (datetime.datetime.strftime(currentTime,'%I:%M:%S:%p'))

04:17:21:AM

In [11]:
import datetime 
currentTime = datetime.datetime.now() 
print (currentTime)
print(datetime.datetime.strftime(currentTime,"%I:%M:%S:%p"))
print (currentTime.hour) 
print (currentTime.minute)
print (currentTime.second)

2020-03-06 04:22:43.639151
04:22:43:AM
4
22
43

In [12]:
currentDate = datetime.date.today() 
#timedelta allows you to specify the time 
#to add or subtract from a date 
print (currentDate + datetime.timedelta(days=15)) 
print (currentDate + datetime.timedelta(hours=15))

2020-03-21
2020-03-06

In [13]:
import datetime
currentDate = datetime.date.today()
print(currentDate + datetime.timedelta(days=1))

2020-03-07

In [14]:
print(currentDate + datetime.timedelta(minutes=60))

2020-03-06

In [24]:
nextBirthday = \
  datetime.datetime.strptime('07/31/2020','%m/%d/%Y').date()
currentDate = datetime.date.today() 
#If you subtract two dates you get back the number of days 
#between those dates
difference = currentDate-nextBirthday 
print (difference.days)

-147

In [27]:
nextb=datetime.datetime.strptime("07/31/1998","%m/%d/%Y").date()
current=datetime.date.today()
difference=nextb-current
print(difference)
print(7889//364)

-7889 days, 0:00:00
21

In [30]:
import datetime 
birthday = input ("What is your birthday? ") 
birthdate = \
datetime.datetime.strptime(birthday,"%m/%d/%Y").date() 
#why did we list datetime twice?  
#because we are calling the strptime function 
#which is part of the datetime class 
#which is in the datetime module 
print ("Your birth month is " + birthdate.strftime('%B'))

What is your birthday? 07/31/1998
Your birth month is July

In [31]:
import datetime 
currentDate = datetime.date.today() 
#strftime allows you to specify the date format 
print (currentDate.strftime
('Please attend our event %A, %B %d in the year %Y'))

Please attend our event Friday, March 06 in the year 2020

In [41]:
import sys 
first =float(input("Enter the first number ")) 
second = float(input("Enter the second number "))
try :
        result = first / second
        print (first + " / " + second + " = " + str(result))
except :
        error = sys.exc_info()
        print("I am sorry something went wrong")
        print(error)

Enter the first number 66
Enter the second number 0
I am sorry something went wrong
(<class 'ZeroDivisionError'>, ZeroDivisionError('float division by zero'), <traceback object at 0x0000017E21D91CC8>)

In [43]:
first = input("Enter the first number ") 
second = input("Enter the second number ") 
firstNumber = float(first) 
secondNumber = float(second) 
try :
    result = firstNumber / secondNumber
    print (first + " / " + second + " = " + str(result))
except ZeroDivisionError :
    print("The answer is infinity")

Enter the first number 88
Enter the second number 4
88 / 4 = 22.0

In [44]:
first = input("Enter the first number ") 
second = input("Enter the second number ") 
firstNumber = float(first) 
secondNumber = float(second) 
try :
    result = firstNumber / secondNumber
    print (first + " / " + second + " = " + str(result))
except ZeroDivisionError :
    print("The answer is infinity")
except :
    error = sys.exc_info()[0]
    print("I am sorry something went wrong")
    print(error)

Enter the first number 66
Enter the second number 22
66 / 22 = 3.0

In [50]:
no1=99
no2=0
try: 
    no1/no2
except Exception as e:
    print("cant do",e)
finally:
    print("go to hell")

cant do division by zero
go to hell

In [51]:
try :
    result = firstNumber / secondNumber
    print (first + " / " + second + " = " + str(result))
except ZeroDivisionError :
    print("The answer is infinity")
    sys.exit() 
print("This message only displays if there is no error!")

66 / 22 = 3.0
This message only displays if there is no error!

In [53]:
try :
    result = firstNumber / secondNumber
    print (first + " / " + second + " = " + str(result))
    errorFlag = False
except ZeroDivisionError :
    print("The answer is infinity")
    errorFlag = True
if not errorFlag : 
    print("This message only displays if there is no error!")

66 / 22 = 3.0
This message only displays if there is no error!

In [61]:
myfile=open("bc.txt","w")
myfile.write("yallah\n")

7

In [59]:
myfile.write("yallah\n")

7

In [60]:
myfile.write("bhvygvy")

7

In [62]:
myfile.close()

In [65]:
def printmsg():
    print("hello world")
printmsg()

hello world

In [71]:
def printMessage(message):
    print(message)
   
printMessage('Hello world!')

Hello world!

In [74]:
def displayMessage(greeting, name):
    message = greeting + ', ' + name
    print(message)
    

displayMessage('Christopher','Hi')

Christopher, Hi

In [95]:
a=open("abc.txt","r+")
def write(a,y):
    a.write("anie\n")
write(a,"anie")
x=a.readline()
y=a.readline()
z=a.readline()
print(x)
print(y)
print(z)

a.close()

anie

uk

uubgukbhuubguk

In [103]:
import csv
data = csv.reader("a.csv", delimiter=",")

In [105]:
print(data)

<_csv.reader object at 0x0000017E21EA20B0>

In [108]:
fileName = "a.csv"
accessMode = "r" 
with open(fileName, accessMode) as myCSVFile:     
    dataFromFile = csv.reader(myCSVFile)
    print(dataFromFile)

<_csv.reader object at 0x0000017E21EA2458>

In [122]:
with open(fileName, accessMode) as myCSVFile:
    dataFromFile = csv.reader(myCSVFile)
    for row in dataFromFile:
        print(row)
    print(dataFromFile)

['uyguybnl', 'ujbjb', 'byguy', '']
['hgftrd']
<_csv.reader object at 0x0000017E21EB8528>

In [129]:
with open(fileName, accessMode) as myCSVFile:
    dataFromFile = csv.reader(myCSVFile)
    for row in dataFromFile:
          print (', '.join(row))

SyntaxError: invalid character in identifier (<ipython-input-129-c62efb8a478d>, line 3)

In [132]:
with open("abc.txt","w+") as f:
    ab=csv.reader(f)
    for row in ab:
          print (',hgvgv '.join(row))

In [135]:
answer=input("Would you like express shipping? ")
if answer == "yes" :
     print("That will be an extra $10")

Would you like express shipping? yes
That will be an extra $10

In [136]:
answer=input("Would you like express shipping?")
if answer.lower() == "yes" :
     print("That will be an extra $10") print("Have a nice day")

SyntaxError: invalid character in identifier (<ipython-input-136-621f0f53bc01>, line 2)

In [139]:
answer=input("Would you like express shipping?")
if answer.lower() == "yes" :
     print("That will be an extra $10")

Would you like express shipping?YES
That will be an extra $10

In [144]:
deposit = 150
if deposit > 100 :
     print("You get a free toaster!")
else:
     print("Have a nice day")

You get a free toaster!

In [147]:
deposit= input("how much would you like to deposit? ")
if float(deposit) > 100 :
        freeToaster=True 

#if the variable freeToaster is True  
#the print statement will execute 
if freeToaster :
     print("enjoy your toaster")

how much would you like to deposit? 99
enjoy your toaster

In [149]:
charge=int(input())
if charge<10:
    print("jbhhjb")

99

In [159]:
print("i have %003d " %100)

i have 100

In [160]:
print("i have %00003d " %100)

i have 100

In [158]:
print("i have %.2f " %100)

i have 100.00

In [156]:
print("i have %.5f " %100)

i have 100.00000

In [161]:
print("i have {}".format("my love"))

i have my love

In [163]:
print("i have {0:6d}".format(6))

i have      6

In [164]:
print("i have {0:6f}".format(6))

i have 6.000000

In [167]:
print("i have {0:.6f}".format(6))

i have 6.000000

In [169]:
message = 'Hello world' 
print(message.find('world')) 
print(message.count('o'))
print(message.capitalize()) 
print(message.replace('Hello','Hi'))

6
2
Hello world
Hi world

In [171]:
name=("{},and,{} are siblings".format("anie","noor"))
print(name)

anie,and,noor are siblings

In [175]:
name=("%d,and , %d are siblings" %anie,%noor)
print(name)

SyntaxError: invalid syntax (<ipython-input-175-6578bedbe654>, line 1)

In [180]:
name="anie:{}\
noor:{}\ momo:{}".format("1st","2nd","3rd")

In [181]:
print(name)

anie:1stnoor:2nd\ momo:3rd

In [182]:
print(8*7+3/2-4)

53.5

In [183]:
x="a","b","c"
x[0]

'a'

In [187]:
a="we are pakistanis"
a[a.find("pakistanis"):15]

'pakistan'

In [188]:
a=a.split()

In [189]:
a

['we', 'are', 'pakistanis']

In [190]:
a.count("are")

1

In [196]:
name="taha"
fname="abul aalaa"
print("name:   " + name + "    fname:   " + fname)

name:   taha    fname:   abul aalaa

In [197]:
"mubashir" + "sultan"

'mubashirsultan'

In [198]:
[5,8,9,9] + [6,7,8,3]

[5, 8, 9, 9, 6, 7, 8, 3]

In [199]:
(4,7,8,9) + (4,7,8,9)

(4, 7, 8, 9, 4, 7, 8, 9)

In [200]:
a=4
a **=2
a

16

In [203]:
a=[0,3,5,6,7]
a.index(6)

3

In [204]:
a.append(4)

In [205]:
a

[0, 3, 5, 6, 7, 4]

In [206]:
a.insert(0,1)

In [207]:
a

[1, 0, 3, 5, 6, 7, 4]

In [209]:
a.insert(1,"A")

In [210]:
a

[1, 'A', 0, 3, 5, 6, 7, 4]

In [211]:
a.pop()

4

In [212]:
a

[1, 'A', 0, 3, 5, 6, 7]

In [214]:
del a[1]

In [215]:
a

[1, 0, 3, 5, 6, 7]

In [216]:
a.remove(0)

In [217]:
a

[1, 3, 5, 6, 7]

In [218]:
a.remove(6)

In [219]:
a

[1, 3, 5, 7]

In [223]:
a.reverse()
print(a)

[7, 5, 3, 1]

In [224]:
a.sort(reverse=True)
print(a)

[7, 5, 3, 1]

In [225]:
a.__add__([9,11])

[7, 5, 3, 1, 9, 11]

In [226]:
print(a.__contains__(9))

False

In [227]:
print("a" in a)

False

In [228]:
print(3 in a)

True

In [229]:
["pakistan" + str(x) for x in range(0,5)]

['pakistan0', 'pakistan1', 'pakistan2', 'pakistan3', 'pakistan4']

In [231]:
for i in range(11):
    print(2,"*",i,"=",2*i)

2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [232]:
for i in range(1,11):
    print("2X",str(i),"=",2*i)

2X 1 = 2
2X 2 = 4
2X 3 = 6
2X 4 = 8
2X 5 = 10
2X 6 = 12
2X 7 = 14
2X 8 = 16
2X 9 = 18
2X 10 = 20

In [233]:
d={}
d[0]="a"
d[1]="b"
d[2]="c"
d

{0: 'a', 1: 'b', 2: 'c'}

In [234]:
d1=d.copy()

In [235]:
d1

{0: 'a', 1: 'b', 2: 'c'}

In [236]:
d[0]="A"
d

{0: 'A', 1: 'b', 2: 'c'}

In [237]:
d1

{0: 'a', 1: 'b', 2: 'c'}

In [239]:
l=["a","b","c","d"]
d2=dict.fromkeys(l,"kyun btaoun")
d2

{'a': 'kyun btaoun',
 'b': 'kyun btaoun',
 'c': 'kyun btaoun',
 'd': 'kyun btaoun'}

In [243]:
lista=input("Enter comma separated values")
lista=lista.split(",")
print(lista)
d1 = dict.fromkeys(lista,"N/A")
d1

Enter comma separated valuesa,b,c,d
['a', 'b', 'c', 'd']

{'a': 'N/A', 'b': 'N/A', 'c': 'N/A', 'd': 'N/A'}

In [245]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l3=list(zip(l1,l2))
d1=dict(l3)
d1

{1: 5, 2: 6, 3: 7, 4: 8}

In [248]:
print(d1.get("a"))

None

In [250]:
d1.keys()

dict_keys([1, 2, 3, 4])

In [251]:
d.values()

dict_values(['A', 'b', 'c'])

In [253]:
x=d.popitem()
x

(2, 'c')

In [256]:
print(d.setdefault("a",1))

1

In [257]:
d

{0: 'A', 1: 'b', 'a': 1}

In [259]:
d1={"a":1,"b":2,"c":3,"d":4}  
l=d1.keys().split(",")
l2=d1.values().split(",")
for i,j in sorted(reversed=True.items(zip(l,l2)):
    print(i,j)

SyntaxError: invalid syntax (<ipython-input-259-75602e6e6827>, line 4)

In [260]:
d1={"a":1,"b":2,"c":3,"d":4}                 #printing it in reverse order
list1=list(d1.keys())
list2=sorted(list1,reverse=True)
dicta={}
for i in list2:
    dicta[i]=d1[i]
dicta

{'d': 4, 'c': 3, 'b': 2, 'a': 1}

In [261]:
for key,value in sorted(d1.items(),reverse=True):
    print(key,value)

d 4
c 3
b 2
a 1

In [7]:
print('%(language)s has %(number)03d quote types.'%{"language": "Python", "number": 2})

Python has 002 quote types.

In [18]:
print('my %(name) is %(number)03d' %{"name":"name","number":"2"})

TypeError: %i format: a number is required, not str

In [22]:
print('{0}, {1}, {2}'.format('a', 'b', 'c'))

a, b, c

In [25]:
print("Three daughters of bring khalid nazir {},{},{}".format("madiha","marium","simba"))

Three daughters of bring khalid nazir madiha,marium,simba

In [26]:
print('%s %s' % ('one', 'two'))

one two

In [31]:
print("%s %s" %("anie","raja"))

anie raja

In [33]:
print("%s %s %s" %("simba","khalid","nazir"))

simba khalid nazir

In [35]:
class Data(object):

    def __str__(self):
        return 'str'

    def __repr__(self):
        return 'repr'
print('%s %r' % (Data(), Data()))

str repr

In [5]:
def abs(b,a=19,n=3):
    print(b,a,n)
abs(2,3,4)

2 3 4

In [7]:
print("ev")

/*crthrtc8*/

SyntaxError: invalid syntax (<ipython-input-7-44b2034e1df6>, line 3)

In [8]:
a=[4,6,7,8]
print(5 in a)

False

In [11]:
a="hjwbdxfwejwvenvkjenkvj"
print(a[15:3:-3])

kejf

In [13]:
print(a[3:15:-3])

In [15]:
print(a[15:3])

In [17]:
def get(minor,senior):
    d=0.1
    if not(minor or senior):
        d=0
    return d
get('a',"a")

0.1

In [18]:
0 or 5

5

In [19]:
None is None

True

In [20]:
-5<0<5

True

In [25]:
x=input()
y=input()
#type(x)
c=eval(x)-eval(y)
type(c)

33
44

int

In [26]:
l1=[2,3]
l2=[4,5]
l3=l1 + l2
l4=l3*3
l4

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [28]:
x=22
print(len(x))

TypeError: object of type 'int' has no len()

In [37]:
from random import randrange
print(randrange(0,100,5))

55

In [55]:
from random import randrange
print(randrange(5,100,5))

20

In [38]:
from random import randrange
print(randrange(0,105,5))

55

In [40]:
from random import randint
print(randint(1,20)*5)

95

In [56]:
from random import randint
print(randint(1,20)*5)

55

In [42]:
import random
random.randrange(0.0,1.0)

0

In [43]:
random.randrange(0,1)

0

In [47]:
import os
if os.path.isfile("f.txt"):
    print("yes")

In [48]:
x=True
if x is True:
    print("yes")

yes

In [52]:
def tables():
    for col in range(2,13,1):
        for row in range(2,13,1):
            print(row*col)
tables()

4
6
8
10
12
14
16
18
20
22
24
6
9
12
15
18
21
24
27
30
33
36
8
12
16
20
24
28
32
36
40
44
48
10
15
20
25
30
35
40
45
50
55
60
12
18
24
30
36
42
48
54
60
66
72
14
21
28
35
42
49
56
63
70
77
84
16
24
32
40
48
56
64
72
80
88
96
18
27
36
45
54
63
72
81
90
99
108
20
30
40
50
60
70
80
90
100
110
120
22
33
44
55
66
77
88
99
110
121
132
24
36
48
60
72
84
96
108
120
132
144

In [54]:
a=[3,4,5,6]
for x in range(len(a)):
    print(a[x])

3
4
5
6

In [57]:
a=[2,3,4]
b=["a","c","d"]
a is b

False

In [58]:
a==b

False

In [59]:
a=b
a==b

True

In [60]:
a is b

True

In [62]:
try:
    4/0
except:
    print("ok")
finally:
    print("xwer")

ok
xwer

In [63]:
try:
    print(4/0)

finally:
    print("xwer")

xwer

ZeroDivisionError: division by zero