In [1]:
lista=[99,87,66,44,2,4,6,8]
x=sorted(lista,key=abs,reverse=True)
print(x)

[99, 87, 66, 44, 8, 6, 4, 2]

In [2]:
lista[1:-1]

[87, 66, 44, 2, 4, 6]

In [3]:
def sumandprod(x,y):
    return (x+y),(x*y)
sumandprod(2,4)

(6, 8)

In [4]:
even_no=[x for x in range(5) if x%2==0]
print(even_no)

[0, 2, 4]

In [5]:
eve_square=[x*x for x in range(5)]

In [6]:
eve_square

[0, 1, 4, 9, 16]

In [7]:
even=[x*x for x in even_no]
even

[0, 4, 16]

In [8]:
sq_dict={x : x*3 for x in range(5)}
sq_dict

{0: 0, 1: 3, 2: 6, 3: 9, 4: 12}

In [9]:
pairs=[(x,y)
      for x in range(5)
      for y in range(5)]
pairs

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4)]

In [10]:
def lazyrange(n):
    i=0
    while i<n:
        yield i
        i +=1
        
lazyrange(5)

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
l1=['a','b','c','d']
dict.fromkeys(l1)

{'a': None, 'b': None, 'c': None, 'd': None}

In [13]:
dict.fromkeys(l1,"NILL")

{'a': 'NILL', 'b': 'NILL', 'c': 'NILL', 'd': 'NILL'}

In [14]:
d2={}
for key in l2:
    d2[key]="none"
d2

NameError: name 'l2' is not defined

In [ ]:
l1=input("keys").split(",")
l2=input("values").split(",")
d={}
for i in range(len(l1)):
    d[l1[i]]=l2[i]
d

In [ ]:
l1=input("keys").split(",")
l2=input("values").split(",")
d=dict(zip(l1,l2))
d

In [ ]:
l1=input("keys").split(",")
l2=input("values").split(",")
{l1[i]:l2[i] for i in range(len(l1))}

In [ ]:
l1=input("keys").split(",")
l2=input("values").split(",")
d={}
i=0
while i<len(l1):
    d[l1[i]]=l2[i]
    i+=1
print(d)

In [ ]:
l1=input("keys").split(",")
l2=input("values").split(",")
dict(list(zip(l1,l2)))

In [ ]:

dict1 ={}
dict1["id"] = input("Please Enter Id")
dict1["name"] = input("Please Enter Name")
dict1["skills"] = input("Please Enter Skills").split(",")
dict1

In [ ]:
a = [chr(i) for i in range(65,91)]
b = [chr(i) for i in range(97,123)]
c = [chr(i) for i in range(48,58)]

d = zip(a,sorted(b, reverse=True),c)


list(d)

In [ ]:
a=[chr(i) for i in range(65,91)]
b=[chr(i) for i in range(97,123)]
c=[chr(i) for i in range(48,58)]
d=zip(a,sorted(b,reverse=True),c)
list(d)

In [ ]:
d=[('A', 'z', '0'),
 ('B', 'y', '1'),
 ('C', 'x', '2'),
 ('D', 'w', '3'),
 ('E', 'v', '4'),
 ('F', 'u', '5'),
 ('G', 't', '6'),
 ('H', 's', '7'),
 ('I', 'r', '8'),
 ('J', 'q', '9')]
sorted(d,reverse=True)

In [ ]:
d = [('A', 'z', '0'),
     ('B', 'y', '1'),
     ('C', 'x', '2'),
     ('D', 'w', '4'),
     ('E', 'v', '3'),
     ('F', 'u', '5'),
     ('G', 't', '8'),
     ('H', 's', '7'),
     ('I', 'r', '6'),
     ('J', 'q', '9')]


def abc(x):
    return x[2]   


sorted(d, reverse=True,key=abc)
#abc(('A', 'z', '0'))

In [ ]:
d1={
    'a':1,
    'c':5,
    'd':2,
    'b':3
}

d2 = {}
for k in sorted(d1.keys()):
    d2[k] = d1[k]
    
d2

In [ ]:
d1={
    "f":10,
    "k":9,
    "b":8,
    "z":7
    }
d2={}
for i in sorted(d1.keys()):
    d2[i]=d1[i]
d2

In [ ]:
d1={
    'a':1,
    'c':5,
    'b':2,
    'd':3
}

{k:v for k,v in sorted(d1.items(), key=lambda x:x[1], reverse=True) }

In [ ]:
{k:v for k,v in sorted(d1.items(),reverse=True)}

In [1]:
d={}
students=[]
x=''
while x!='n':
    d["name"]=input("enter your name")
    d["age"]=int(input("enter your age"))
    d["skills"]=input("enter your skills").split(",")
    students.append(d)
    
    x=input("y/n")
students

enter your nameanie
enter your age20
enter your skillsphp,oop,java
y/nn

[{'name': 'anie', 'age': 20, 'skills': ['php', 'oop', 'java']}]

In [ ]:
marks=int(input("enter ur marks"))
if marks >=90:
    print("A GRADE")
elif marks >=80 and marks<90:
    print("B GRADE")
elif marks >=70 and marks<80:
    print("C GRADE")
elif marks >=60 and marks <70:
    print("D GRADE")
elif marks >=60:
    print("E GRADE")
else:
    print("no test")

In [ ]:
fruit[4:-7:1]
noo
while loop is also called in finite loop

In [27]:
n=0
list=[0,1,2,3,4,5,6,7,8,9,10]
while(n<10):
    print(n)
    if n==6:
        break
    else:
        n+=1

0
1
2
3
4
5
6

In [23]:
if 6 in list:
    print("found")
else:
    print(n)

found

In [28]:
list[n]

6

In [ ]:
IN dictionary list or dict itself cant be a key

# NESTED DICTIONARY

In [32]:
personDATA={
    "name":"anie",
    "age":"19",
    "job":"mle"
}
someHOBIES={"TRAVELLING":"US",
           "STUDYING":"COURSE"}
personDATA["HOBIES"]=someHOBIES
personDATA

{'name': 'anie',
 'age': '19',
 'job': 'mle',
 'HOBIES': {'TRAVELLING': 'US', 'STUDYING': 'COURSE'}}

In [33]:
otherDATA=[1,2,3,5]
personDATA["DATA"]=otherDATA
personDATA

{'name': 'anie',
 'age': '19',
 'job': 'mle',
 'HOBIES': {'TRAVELLING': 'US', 'STUDYING': 'COURSE'},
 'DATA': [1, 2, 3, 5]}

In [34]:
personDATA["HOBIES"]

{'TRAVELLING': 'US', 'STUDYING': 'COURSE'}

In [35]:
personDATA.get("name")

'anie'

In [45]:
adict={}
name=input("enter name").split(",")
hobies=input("enter hobies").split(",")
marks=input("enter marks").split(",")
adict['name']=name
lista=zip("name","hobies","marks")
dict.lista
print(lista)

enter namehh
enter hobiesll
enter marksii

AttributeError: type object 'dict' has no attribute 'lista'

In [ ]:
TWO DICT...IN A SINGLE[]
myDATA={"name":"","marks":{"maths":55,"eng":88,"php":"99"},"hobies"}

In [ ]:
data=[]
exit=''
while exit !='x':
    persondata={}
    persondata["name"]=input()
    persondata['marks']={input("enter marks "):input("enter subjects") for i in range(3)}
    persondata["hobies"]=[input("enter hobies") for i in range(3)]
    print(persondata)
    data.append(persondata)
    exit=input("presss x to exit")
print(data)

u
enter marks1e
enyer subjectshwe
enter marksjjw
enyer subjectsjwj
enter marksjjwe
enyer subjectsewj
enter markskwe
enyer subjectsjje
enter marksjj
enyer subjectsee
enter hobieswee
enter hobiesew
enter hobiesewe
enter hobiesweef
enter hobiesff
{'name': 'u', 'marks': {'hwe': '1e', 'jwj': 'jjw', 'ewj': 'jjwe', 'jje': 'kwe', 'ee': 'jj'}, 'hobies': ['wee', 'ew', 'ewe', 'weef', 'ff']}
presss x to exitu

In [11]:
cost=0
day=input("ENTER DAY?")
DVD=input("if scratched or not...?")
time=int(input("Enter return time"))
no_of_days=int(input("Enter no of days"))
if day!="thursday" and day!="sunday":
    if DVD=="yes" or time>=8:
        no_of_days=no_of_days+1
        cost=no_of_days*1.59+1
        print(cost)
    else:
        cost=no_of_days*1.59
        print(cost)
elif day=="sunday":
    if DVD=="yes" and time>=8:
        no_of_days=no_of_days+1
        cost=2+no_of_days*1.59
        cost=cost-cost*30/100
        print(cost)
    else:
        cost=no_of_days*1.59
        cost=cost-cost*30/100
        print(cost)
    
elif day=="thursday" and time>=8:
    no_of_days=no_of_days+1
    cost=no_of_days*1.59
    cost=cost-cost*50/100
    print(cost)
else:
    print("nothing")

ENTER DAY?thursday
if scratched or not...?no
Enter return time9
Enter no of days3
3.18

In [18]:

d2=[]
x=" "
while x!='y':
    d1={}
    d1["name"]=input("ENTER YOUR NAME:")
    d1["age"]=int(input("ENTER YOUR AGE:"))
    d1["program"]=input("enter your course:")
    d1["skills"]={input("ENTER YOUR SKILLS:") for i in range(3)}
    d1["marks"]={input("ENTER YOUR SUBJECTS") : input("ENTER YOUR MARKS") for i in range(3)}
    d2.append(d1)
    print(d2)
    x=input("DO YOU WANT TO CONTINUE...?")
d2

ENTER YOUR NAME:name
ENTER YOUR AGE:44
enter your course:ty
ENTER YOUR SKILLS:jjk
ENTER YOUR SKILLS:hhh
ENTER YOUR SKILLS:uu
ENTER YOUR MARKS99
ENTER YOUR SUBJECTS88
ENTER YOUR MARKS88
ENTER YOUR SUBJECTS9
ENTER YOUR MARKS99
ENTER YOUR SUBJECTS99
[{'name': 'name', 'age': 44, 'program': 'ty', 'skills': {'uu', 'hhh', 'jjk'}, 'marks': {'88': '99', '9': '88', '99': '99'}}]
DO YOU WANT TO CONTINUE...?y

[{'name': 'name',
  'age': 44,
  'program': 'ty',
  'skills': {'hhh', 'jjk', 'uu'},
  'marks': {'88': '99', '9': '88', '99': '99'}}]

In [ ]:
data=[]
exit=''
while exit !='x':
    persondata={}
    persondata["name"]=input()
    persondata['marks']={input("enter marks "):input("enter subjects") for i in range(3)}
    persondata["hobies"]=[input("enter hobies") for i in range(3)]
    print(persondata)
    data.append(persondata)
    exit=input("presss x to exit")
print(data)