In [25]:
name = input("enter name")
age = int(input("enter age"))
course = input("enter course")
data="""
student details
name:{}
age:{}
course:{}
""".format(name,age,course)
print(data,sep=",",end='\n')

enter nameanie
enter age20
enter courseai

student details
name:anie
age:20
course:ai

In [6]:
name="tara"
msg = "name:{}".format(name)
print(msg)

name:tara

In [11]:
print?

In [12]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [18]:
print("abstrgtfftb","vbdgfggggfg",sep='  ki   ', end='\n')

abstrgtfftb  ki   vbdgfggggfg

In [1]:
a = input().split(",")
adic = {"my":1}
for i in a:
    if adic.keys()!=i:
        while(len(a)):
            adic["aab"]=i
        #print(adic)
    else:
        l2.apppend(i)           
adic

my,nme,is,koio

KeyboardInterrupt:

In [29]:
dic={}
dic["a"]="simba"
dic["b"]="baba"
dic

{'a': 'simba', 'b': 'baba'}

In [30]:
dic.keys()

dict_keys(['a', 'b'])

In [31]:
for i in dic.keys():
    if i=="a":
        print("yes")

yes

In [54]:
x=input()
print(x.split(","))
x

b,n,u,i,o
['b', 'n', 'u', 'i', 'o']

'b,n,u,i,o'

In [22]:
word_list = input("Enter a string: ").split()
word_list.sort()

dictionary = dict()
dictionary["my"]="name"
for word in word_list:
    if(word[0] in dictionary.keys()):
        dictionary[word[0]].append(word)
    #else:
    #    dictionary.update({word[0]: [word[0:3]]})
     #   dictionary.update({word[3]: [word[3:7]]})
print(dictionary)

Enter a string: my,name,is,tara
{'my': 'name'}

In [2]:
dica=dict()
dica

{}

In [23]:
names={'aset','bset','cset'}
type(names)

set

In [24]:
names=tuple(names)
type(names)

tuple

In [27]:
name1="SARA"
name2="tara"
print(name1==name2)
print(id(name1),id(name2),sep='\n')

False
1995887800192
1995887796440

In [31]:
print(name1.capitalize())

Sara

In [32]:
print(name1.casefold())

sara

In [35]:
name1=name1.center(24,'*')
print(name1)

**********sara**********

In [40]:
result = name1.endswith('sara') 
print (result)

False

In [ ]:
name2="i\tlove\ttara"

In [46]:
print(name2.expandtabs(66))

tara

In [49]:
print("helloooom,im your bhna {}".format('anie'))

helloooom,im your bhna anie

In [57]:
a={"name":"qasim","age":22}
print("{name} age is {age}".format_map(a))

qasim age is 22

In [58]:
name="-----ANIE"
print(name.strip("-"))

ANIE

In [59]:
name="-----ANIE------"
print(name.rstrip("-"))

-----ANIE

In [61]:
name="-----ANIE------"
print(name.lstrip("-"))

ANIE------

In [63]:
a = "we are Pakistan we love our country!"
a.find("our")

24

In [64]:
a[::]

'we are Pakistan we love our country!'

In [65]:
a[::-1]

'!yrtnuoc ruo evol ew natsikaP era ew'

In [66]:
b=a.split()
b

['we', 'are', 'Pakistan', 'we', 'love', 'our', 'country!']

In [74]:
name = "anie"
fname ="Khalid"
program = 'PIAIC'
score = 200

# %
print("Student Name: %s \n Father's Name: %s \n \
Program: %s \n Score: %s"%(name,fname,program, score))

Student Name: anie
 Father's Name: Khalid
 Program: PIAIC
 Score: 200

In [76]:
print("student name: %s \n father name:%s \n \
program: %s \n score:%s"%(name,fname,program,score))

student name: anie
 father name:Khalid
 program: PIAIC
 score:200

In [77]:
print("name: %s \n fname:%s \n score:%s \n"%(name,fname,score))

name: anie
 fname:Khalid
 score:200

In [81]:
"Name: {sn}, \
Father'Name: {fn}".format(sn=name, fn=fname)

"Name: anie, Father'Name: Khalid"

In [82]:
"name:{nm},fathername:{fnam}".format(nm=name , fnam=fname)

'name:anie,fathername:Khalid'

In [87]:
"name:{1},fathername:{0}".format(name,fname)

'name:Khalid,fathername:anie'

In [89]:
print(f"name:{name},fname:{fname}")

name:anie,fname:Khalid

In [91]:
print(f"name:{name},score:{score}")

name:anie,score:200

In [94]:
"student name   "+   name

'student name   anie'

In [96]:
print("name:%s"%(name))

name:anie

In [97]:
int("2")+int("3")

5

In [98]:
"a"+"b"

'ab'

In [99]:
["hamza","hassan"] + ["taha","tara"]

['hamza', 'hassan', 'taha', 'tara']

In [100]:
("hamza","hassan") + ("taha","tara")

('hamza', 'hassan', 'taha', 'tara')

In [101]:
2**5

32

In [102]:
2==2

True

In [103]:
"A"=="a"

False

In [104]:
ord("e")

101

In [106]:
ord("a")

97

In [107]:
ord("A")

65

In [108]:
chr(65)

'A'

In [109]:
a=2
a+=2
a

4

In [110]:
a-=2
a

2

In [111]:
a*=2

In [112]:
a

4

In [113]:
a/=2

In [114]:
a

2.0

In [115]:
a=[2,4,6,8]
a+=[10]
a

[2, 4, 6, 8, 10]

In [117]:
True and True and True

True

In [2]:
user = input("enter user name")
password = int(input("enter password"))
if password==123 and user=="ADMIN":
    print("ACCESS GRANTED.....!")

enter user nameADMIN
enter password123
ACESS GRANTED.....!

In [3]:
False | False | True

True

In [11]:
user = "ADMIN"
password = 123
#(user=="simba" or \ 
 #user=="ADMIN" or \
 #user =="anie") and password =="123"
(user == "Qasim" or \
 user== "ADMIN" or \
 user == "Hamza") and password=="123"

False

In [12]:
not(True)

False

In [13]:
a = 10
b = 4
    
# Print bitwise AND operation    
print("a & b =", a & b)  
    
# Print bitwise OR operation  
print("a | b =", a | b)  
    
# Print bitwise NOT operation   
print("~a =", ~a)  
    
# print bitwise XOR operation   
print("a ^ b =", a ^ b)

a & b = 0
a | b = 14
~a = -11
a ^ b = 14

In [14]:
user = input()
"anie" in user

anie

True

In [15]:
"simba" not in user

True

In [2]:
user=input()
x=user.split()
x

a,b,c,d

['a,b,c,d']

In [4]:
a = '5'
b= 20
c=a
print(a is c)

True

In [6]:
id(a)==id(c)

True

In [7]:
id(a)!=id(c)

False

In [8]:
if True:
    print("anie is great")
else:
    print("simba is right")

anie is great

In [9]:
if False:
    print("123")
else:
    print("456")

456

In [11]:
user = input("User")
password = input("Pass")

if () and password=="123":
    print("Valid User!")
else:
    print("Invalid User")

UserADMIN
Pass123
Invalid User

In [14]:
user= input("enter ur name")
password=int(input("code"))
if(user=="ADMIN") or (password==123):
    print("valid user")
else:
    print("invalid user")

enter ur nameADMIN
code3743
valid user

In [15]:
names = []
names.append("A")
names

['A']

In [16]:
names.clear()
names

[]

In [17]:
names=["a","b","c","d"]
names1=names
names.append("A")
names
names1

['a', 'b', 'c', 'd', 'A']

In [18]:
names1

['a', 'b', 'c', 'd', 'A']

In [19]:
names

['a', 'b', 'c', 'd', 'A']

In [20]:
nme=names.copy()
nme

['a', 'b', 'c', 'd', 'A']

In [21]:
names.append("d")

In [22]:
names

['a', 'b', 'c', 'd', 'A', 'd']

In [23]:
nme

['a', 'b', 'c', 'd', 'A']

In [24]:
A=['a','b','c']
B=['x','y','z']
C=A.extend(B)

In [27]:
print(C)

None

In [29]:
print(A)

['a', 'b', 'c', 'x', 'y', 'z']

In [31]:
A.insert(0,"1")

In [32]:
A

['1', 'a', 'b', 'c', 'x', 'y', 'z']

In [34]:
del A[0]
A

['a', 'b', 'c', 'x', 'y', 'z']

In [35]:
a=A.pop(5)
a

'z'

In [36]:
A.remove("y")
A

['a', 'b', 'c', 'x']

In [37]:
A.reverse()
A

['x', 'c', 'b', 'a']

In [38]:
A.sort()

In [39]:
A

['a', 'b', 'c', 'x']

In [42]:
o=A.pop()

In [43]:
A

['a', 'b', 'c']

In [44]:
A.sort(reverse=True)
A

['c', 'b', 'a']

In [45]:
A.__add__(['A','B','C'])
A

['c', 'b', 'a']

In [46]:
A

['c', 'b', 'a']

In [50]:
B=['a','b','c']
B.__add__(['A','B','C'])
print(B)

['a', 'b', 'c']

In [51]:
B.__class__

list

In [52]:
print(B.__contains__("a"))

True

In [57]:
["pakistani  "+ str(x) for x in range(11)]

['pakistani  0',
 'pakistani  1',
 'pakistani  2',
 'pakistani  3',
 'pakistani  4',
 'pakistani  5',
 'pakistani  6',
 'pakistani  7',
 'pakistani  8',
 'pakistani  9',
 'pakistani  10']

In [63]:
for i in range(11):
    print(2,"X",i,"=" ,2*i)

2 X 0 = 0
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [67]:
["2 x"+str(i)+"="+str(2*i) for i in range(1,11)]

['2 x1=2',
 '2 x2=4',
 '2 x3=6',
 '2 x4=8',
 '2 x5=10',
 '2 x6=12',
 '2 x7=14',
 '2 x8=16',
 '2 x9=18',
 '2 x10=20']

In [68]:
["2 X "+str(i)+" = "+str(i*2) for i in range(1,11)]

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '2 X 10 = 20']

In [70]:
a=(1,2,3,4,1)
a.count(1)

2

In [71]:
a.index(4)

3

In [1]:
d1={"id":123,
   "name":"qasim",
   "course":"AI"}
d1

{'id': 123, 'name': 'qasim', 'course': 'AI'}

In [2]:
d={}
d["id"]=123
d["name"]="qasim"
d

{'id': 123, 'name': 'qasim'}

In [3]:
d.clear()
d

{}

In [4]:
del d

In [6]:
d2=d1.copy()
d2

{'id': 123, 'name': 'qasim', 'course': 'AI'}

In [7]:
d1["name"]="tara"
d1
d2

{'id': 123, 'name': 'qasim', 'course': 'AI'}

In [8]:
d2

{'id': 123, 'name': 'qasim', 'course': 'AI'}

In [9]:
d1

{'id': 123, 'name': 'tara', 'course': 'AI'}

In [12]:
l1=["name","age","id"]
dict.fromkeys(l1)

{'name': None, 'age': None, 'id': None}

In [17]:
l1=input("enter values").split(",")
d={}
for i in l1:
    d[i]=None
dict.fromkeys(l1)

enter valuesa,b,c,d

{'a': None, 'b': None, 'c': None, 'd': None}

In [25]:
l1=input("enter keys").split(",")
l2=input("enter values").split(",")
d={}
for i in range(len(l1)):
    d[l1[i]]=l2[i]
print(d1)

enter keysn,k,l
enter valuesi,o,p
{'n': 'k', 'm': 'o', 'l': 'p'}

In [26]:
l1=input("enter keys").split(",")
l2=input("enter values").split(",")
d={}
for k,v in zip(l1,l2):
    d[k]=v
d

enter keysb,l,o
enter valuesp,i,u

{'b': 'p', 'l': 'i', 'o': 'u'}

In [28]:
l1=input("enter keys").split(",")
l2=input("enter values").split(",")
d={}
i=0
while(i<len(l1)):
    d[l1[i]]=l2[i]
    i+=1
d

enter keysb,k,o
enter valueso,p,i

{'b': 'o', 'k': 'p', 'o': 'i'}

In [29]:
l1=input("enter keys").split(",")
l2=input("enter values").split(",")
{l1[i]:l2[i] for i in range(len(l1))}

enter keysb,k,o
enter valuesi,o,p

{'b': 'i', 'k': 'o', 'o': 'p'}

In [31]:
l1=input("enter keys").split(",")
l2=input("enter values").split(",")
dict(list(zip(l1,l2)))

enter keysn,m
enter valuesk,o

{'n': 'k', 'm': 'o'}

In [32]:
a=[chr(i) for i in range(65,91)]
b=[chr(i) for i in range(98,123)]
c=[chr(i) for i in range(48,58)]
d=zip(a,sorted(b,reverse=True),c)
list(d)

[('A', 'z', '0'),
 ('B', 'y', '1'),
 ('C', 'x', '2'),
 ('D', 'w', '3'),
 ('E', 'v', '4'),
 ('F', 'u', '5'),
 ('G', 't', '6'),
 ('H', 's', '7'),
 ('I', 'r', '8'),
 ('J', 'q', '9')]

In [33]:
d = [('A', 'z', '0'),
     ('B', 'y', '1'),
     ('C', 'x', '2'),
     ('D', 'w', '4'),
     ('E', 'v', '3'),
     ('F', 'u', '5'),
     ('G', 't', '8'),
     ('H', 's', '7'),
     ('I', 'r', '6'),
     ('J', 'q', '9')]
sorted(d, reverse=True)

[('J', 'q', '9'),
 ('I', 'r', '6'),
 ('H', 's', '7'),
 ('G', 't', '8'),
 ('F', 'u', '5'),
 ('E', 'v', '3'),
 ('D', 'w', '4'),
 ('C', 'x', '2'),
 ('B', 'y', '1'),
 ('A', 'z', '0')]

In [41]:
d1={
    "a":1,
    "d":2,
    "c":3
}
d2={}

for k in sorted(d1.keys()):
    d2[k]=d1[k]
d2

{'a': 1, 'c': 3, 'd': 2}

In [55]:
d1={
    'a':1,
    'c':5,
    'b':2,
    'd':3
}

{k:v for k,v in sorted(d1.items(),key=lambda x:x[0],reverse=True)}

{'d': 3, 'c': 5, 'b': 2, 'a': 1}

In [2]:
students=[]
flag=' '
while flag!='no':
    d={}
    d["name"]=(input("enter your name"))
    d["course"]=input("course")
    d["skills"]=input("skills").split(",")
    students.append(d)
    flag=input("true or false")
students

enter your namea
courseai
skillsbb,kk,oo
true or falseyes
enter your namebb,ai
coursekkk
skillsmm,oo,ll
true or falseno

[{'name': 'a', 'course': 'ai', 'skills': ['bb', 'kk', 'oo']},
 {'name': 'bb,ai', 'course': 'kkk', 'skills': ['mm', 'oo', 'll']}]